:root {
  --primary500: #001f3fff;
  --borderColor: #dee1e6ff;
  --neutral600: rgb(67, 87, 87);
  --natural200: rgb(221, 228, 240);
  --natural450: rgb(134, 153, 179);
  --borderAzul: rgb(190, 211, 231);
}

body {
  font-family: 'Inter', sans-serif !important;
  background-color: var(--primary100);
}

.etiqueta {
  display: inline-block;
  background-color: #f1f3f5;
  color: #495057;
  font-size: 0.75rem;
  font-weight: 500;
  padding: 4px 8px;
  border-radius: 6px;
  margin-right: 5px;
  margin-bottom: 5px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.etiqueta:hover {
  background-color: #dee2e6;
  transform: translateY(-2px) scale(1.05);
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}


#hechosPorColeccion .card {
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
}

#hechosPorColeccion .card:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 30px rgba(0,0,0,0.2);
}

#hechosPorColeccion .card-img-top {
  height: 180px;
  object-fit: cover;
}

#hechosPorColeccion .card-body {
  padding: 15px;
}

#hechosPorColeccion .card-title {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 8px;
}

#hechosPorColeccion .card-text {
  font-size: 0.9rem;
  color: #6c757d;
  height: 45px;
  overflow: hidden;
}


.custom-navbar {
  font-family: "Inter", sans-serif;
  font-size: 25px;
  line-height: 25px;
  font-weight: 700;
  color: var(--primary500) !important;
  align-items: center;
}

.custom-navbar-center .nav-link {
  position: relative;
  color: var(--primary500) !important;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  transition: color 0.3s ease;
}

.custom-navbar-center .nav-link:hover {
  font-weight: 700;
}

.custom-navbar-center .nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0;
  height: 3px;
  background-color: var(--primary500);
  transition: width 0.3s ease;
}

.custom-navbar-center .nav-link.active {
  font-weight: 700;
}

.custom-navbar-center .nav-link.active::after {
  width: 100%;
}

.btn-login {
  border-color: var(--borderColor);
  color: var(--primary500) !important;
  border-radius: 8px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
  padding: 10px 20px;
  align-items: center;
}



.mapa-personalizado {
  border-radius: 8px;
  border: 1px solid var(--borderColor);
  margin-bottom: 20px;
}
.mapa-personalizado h2 {
  margin-top: 25px;
  font-family: "Inter", sans-serif;
  color: var(--primary500);
}
.mapa-personalizado p {
  font-family: "Inter", sans-serif;
  color: var(--neutral600);
  margin-bottom: 10px;
}

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  margin-top: 3px;
}

#hechosCarousel {
  margin: 40px auto;
  position: relative;
  padding: 0 70px;
}


.flecha {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  top: 50%;
  transform: translateY(-50%);
  transition: background-color 0.3s;
}


.flecha .carousel-control-prev-icon,
.flecha .carousel-control-next-icon {
  filter: invert(1);
}


.carousel-item .card {
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
}

.carousel-item .card:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 30px rgba(0,0,0,0.2);
}


.carousel-item .card-img-top {
  height: 180px;
  object-fit: cover;
}


.carousel-item .card-body {
  padding: 15px;
}


.carousel-item .card-title {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 8px;
}


.carousel-item .card-text {
  font-size: 0.9rem;
  color: #6c757d;
  height: 45px;
  overflow: hidden;
}


.carousel-item .card-body > div {
  display: inline-block;
  background-color: #f1f3f5;
  color: #495057;
  font-size: 0.75rem;
  font-weight: 500;
  padding: 2px 6px;
  border-radius: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.footer-personalizado {
  background-color: var(--primary500);
  color: var(--natural450);
  font-family: 'Inter', sans-serif;
  padding: 1rem 2rem;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; /* para móviles */
}

.footer-left {
  font-weight: bold;
}

.footer-center {
  text-align: center;
  font-size: 0.9rem;
}

.footer-link {
  color: var(--natural450);
  text-decoration: none;
  margin: 0 0.3rem;
}

.footer-link:hover {
  text-decoration: underline;
}

.footer-right {
  display: flex;
  gap: 1rem;
}

.footer-icon {
  color: var(--natural450);
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

.footer-icon:hover {
  color: white;
}

.footer-left-personalizado{
  color: #ffffff ; 
}

.tituloColeccion{
  font-family: 'Inter', sans-serif;
  font-size: 50px;
  line-height: 25px;
  font-weight: 700;
  color: var(--primary500) !important; 
  margin-top: 30px;
  align-items: center;
}

.buscador-principal {
  margin-top: 40px;
  margin-bottom: 40px;
  border-radius: 8px;
  border: 1px solid var(--borderColor);
  padding: 1rem;
  background: #fff;
}

.buscador-personalizado input {
  font-family: 'Inter', sans-serif;
  color: var(--borderColor);
}

#hechosPorColeccion{
  margin-top: 30px;
}

@media (max-width: 992px) {
  .carousel-item .col-md-3 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (max-width: 576px) {
  .carousel-item .col-md-3 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
